<nav class="navbar navbar-expand-md navbar-dark">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">LOGO</a>

      <ul class="navbar-nav menu-desk ml-auto">
        <li class="nav-item">
          <a class="nav-link desktop" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link desktop" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link desktop" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link desktop" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" href="/login">Login</a>
        </li>
      </ul>

      <!-- Collapse button -->

      <button
        class="navbar-toggler collapsed first-button"
        type="button"
        onclick="openNav()"
      >
        <div class="animated-icon1">
          <span></span><span></span><span></span>
        </div>
      </button>

      <!-- Collapsible content -->
      <div id="mySidenav" class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
      <!-- Collapsible content -->
    </nav>

    <div class="jumbotron text-center row d-flex">
      <div class="intro">
        <h1>Hier gibt es einfache deutsche Texte.</h1>
        <a class="btn btn-outline-light" href="signup"
          >Check Out Now!</a
        >
      </div>
    </div>

    <div class="wrapper">
      <div class="container section-1">
        <div class="row d-flex row-b">
          <div class="col-sm first-column">
            <h1 class="vw-text">
              <span class="hide-text">WHEN WE </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text"> CREATE</span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">FURNITURE, WE </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">LOOK FOR </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">THE BEST </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">POSSIBLE </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">HARMONY </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">BETWEEN </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text">CULTURE </span>
            </h1>
            <h1 class="vw-text">
              <span class="hide-text"> AND NATURE.</span>
            </h1>

            <a href="signup" class="btn btn-primary-outline btn-2">
              Explore
            </a>
          </div>

          <div class="col-sm second-column">
            <img src="img/inside.jpg" class="image-1" alt="" />
            <img src="img/env2.jpg" class="image-2" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-2 d-flex">
      <div class="container section-2">
        <div class="row d-flex row-b">
          <div class="col-6 third-column">
            <h1>Article</h1>
            <h4 class="text-muted">NEW COLLECTION</h4>
            <p>
              The collection’s iconic tables are all entirely made of certified,
              solid reclaimed teak wood of high quality, sourced from
              century-old houses from remote villages in East Java. Standout
              design features include the distinctive joineries on the legs,
              which are inspired by a traditional Javanese house construction
              system called ‘Purus’, in which wooden joints are carefully fitted
              together in an artisanal way.
            </p>
            <a href="signup" class="btn btn-primary-outline btn-2">
              Explore
            </a>
          </div>

          <div class="fourth-column">
            <img
              src="img/column-bg.jpg"
              class="mx-auto d-block image-3"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-3">
      <div class="container section-3">
        <div class="title-container text-center">
          <h1>Get Insights into Tech and Business Sphere of App</h1>
          <h2>Development From our Blog</h2>
        </div>
        <div class="row d-flex row-c">
          <div class="col fifth-column news mx-auto">
            <img
              src="img/giuseppe-argenziano-6WCZAPAPtVE-unsplash.jpg"
              alt=""
              class="img-fluid img-responsive tree-img mx-auto"
            />
            <h4 class="header-1">ONLINE BUSINESS</h4>
            <h3>Why 90% Of Startups Eventually Fail.</h3>
            <h3>Will Yours Be A Startup Failure Too?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab soluta
              debitis doloribus saepe similique veritatis excepturi ipsa dolores
              voluptatibus error? Eligendi ipsum explicabo possimus earum fugiat
              distinctio nam optio molestias!
            </p>
            <div class="author">
              <img src="img/author-2.jpg" alt="" />
              <h2 class="name">Isidora Markovic</h2>
              <h2>Agile Project Manager</h2>
            </div>
            <hr />
          </div>
  
          <div class="col sixth-column news mx-auto">
            <img
              src="img/alex-harmuth-bOICdD-Gulk-unsplash.jpg"
              alt=""
              class="img-fluid img-responsive tree-img second mx-auto"
            />
            <h4 class="header">Software Development</h4>
            <div class="header-container">
              <h3>What is Nearshoring and How</h3>
              <h3>You Can Benefit from It</h3>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab soluta
              debitis doloribus saepe similique veritatis excepturi ipsa dolores
              voluptatibus error? Eligendi ipsum explicabo possimus earum fugiat
              distinctio nam optio molestias!
            </p>
            <div class="author">
              <img src="img/author.jpg" alt="" />
              <h2 class="name">Michael Rotschild</h2>
              <h2>CEO, SaaS Specialist</h2>
            </div>
            <hr />
          </div>
          <div class="col seventh-colum news mx-auto">
            <img
              src="img/van-thanh-1ktlYkBZZF4-unsplash.jpg"
              alt=""
              class="img-fluid img-responsive tree-img mx-auto"
            />
            <h4 class="header">Software Development</h4>
            <h3>12 Typical Mistakes with Economy</h3>
            <h3>Budget Planning</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab soluta
              debitis doloribus saepe similique veritatis excepturi ipsa dolores
              voluptatibus error? Eligendi ipsum explicabo possimus earum fugiat
              distinctio nam optio molestias!
            </p>
            <div class="author">
              <img src="img/author-3.jpg" alt="" />
              <h2 class="name">Isidora Markovic</h2>
              <h2>Agile Project Manager</h2>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="intro-layout">
      <div class="intro-text">
        <h1 class="hide">
          <span class="text"> The Best </span>
        </h1>
        <h1 class="hide">
          <span class="text"> Environment </span>
        </h1>
        <h1 class="hide">
          <span class="text"> For Dining </span>
        </h1>
      </div>
    </div>

    <div class="slider"></div>
    <footer class="text-center text-white" style="background-color: #1f1f1f">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <div class="text-center footer-brand text-light p-1">YUGI-OH</div>

        <div class="text-center brand-text text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>

        <div class="text-center brand-text text-muted">
          Vitae obcaecati id quia minima molestiae libero sequi facilis
          provident.
        </div>

        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-2"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/JCJord"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center text-light p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2020 Copyright:
        <a class="text-light" href="#">github.com/JCJord</a>
      </div>
      <!-- Copyright -->
    </footer>