 <link rel="stylesheet" href="/css/register.css" />
 
<div class="wrapper">

      <div class="container form-container">
        {{#each errors}}
          <div class="alert alert-danger" role="alert">
                     
                    <li>{{text}}</li>
                   
          </div>
        {{else}}
        
        {{/each}}
        {{>_msg}}
        
        <p>Account</p>
        <h1>Register</h1>
        
        <form action='/signup/add' method="POST">
            <div class="form-group">
            <label for="exampleInputEmail1" class="input-header"
              >Username</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputText1"
              aria-describedby="emailHelp"
              placeholder="Enter Your Name"
              name="username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="input-header"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
         
          <div class="form-group">
            <label for="exampleInputPassword1" class="input-header"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Choose a password"
              name="password"
            />
          </div>
          <div class="form-check">
          

            <label class="login-link">
              Already registered? <a href="login">Click here</a></label
            >
          </div>

          <button type="submit" class="btn btn-dark  btn-form">Submit</button>
        </form>

        
      </div>
      <div class="loader-wrapper">
         <div class="spinner6"><div></div></div>
      </div>
 
   
    </div>