@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Cinzel:wght@500&family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 26px;
  color: #000000;
}

.navbar-brand:hover {
  color: black;
}

.fixed-position {
  position: fixed;
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 24px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ffffff;
}

.bz span {
  background: #ffffff;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 7px;
}

.animated-icon1 span:nth-child(3) {
  top: 14px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.animated-icon1.hid span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.animated-icon1.hid span:nth-child(2) {
  opacity: 0;
  left: 0;
}

.animated-icon1.hid span:nth-child(3) {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-link {
  margin-top: 10px;
  font-size: 30px;
  color: black;
}

.nav-link:hover {
  color: #6e6e6e !important;
}

.desktop {
  font-size: 20px;
  bottom: 5px;
}

.animated-icon1 {
  position: relative;
  z-index: 99999;
  display: none;
}

.carousel-item img {
  width: 100%;
}

.navbar ul li a {
  position: relative;
  list-style: none;
  margin-left: 50px;
}

.navbar {
  font-family: "Jost", sans-serif;
  height: 70px;
  margin: 0 auto;
  border: none;
  color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/furniture.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/furniture.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 0px !important;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin: 15px 0;
  font-size: 55px;
  line-height: 1.4;
  color: #fff;
  text-shadow: 3px 3px #000000;
}

.intro {
  margin-top: 280px;
}

.intro-layout {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

.slider {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 99999;
}

.intro-text h1 {
  color: aliceblue;
  font-size: 4rem;
  font-family: "Heebo", sans-serif;
}

.btn {
  color: white !important;
  font-weight: bold;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.image-1 {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
}

.image-2 {
  background-size: contain;
  position: absolute;
  overflow: hidden;
  width: 60%;
  display: block;
  top: 43%;
  left: 40%;
  height: 50%;
}

.image-3 {
  display: none !important;
}

.col-sm {
  margin-top: 4.8rem;
}

.col-sm h1 {
  color: #1a1a1a;
  font-size: 5.3vw;
  font-family: "Oswald", sans-serif;
  line-height: 0.9em;
}

.first-column {
  margin-top: 12rem;
  height: auto;
}

.second-column {
  margin-top: 5rem;
  height: auto;
}

.section-1 {
  max-width: 1750px;
}

.navbar {
  max-width: 1750px;
}

.section-2 {
  position: relative;
  max-width: 1750px;
}

.section-3 {
  max-width: 1750px;
  position: relative;
}

.column-wrapper {
  border: dotted;
}

.section-2 img {
  position: relative;
  top: 0;
  left: 13%;
  width: 100%;
}

.wrapper-2 {
  width: 100%;
  /* 50% right white */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66%, transparent), color-stop(66%, #ffffff)), url("../img/column-bg.jpg");
  background-image: linear-gradient(to left, transparent 66%, #ffffff 66%), url("../img/column-bg.jpg");
  /* 50% left white */
  height: auto !important;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.wrapper {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 230, 253, 0.3)), to(rgba(246, 230, 253, 0.3))), url("../img/89246.jpg");
  background-image: linear-gradient(rgba(246, 230, 253, 0.3), rgba(246, 230, 253, 0.3)), url("../img/89246.jpg");
  height: auto;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}

.wrapper-2 {
  height: auto;
}

.btn-2 {
  padding: 1.8vw 6.5vw !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.1vw;
  color: #585858 !important;
  letter-spacing: 3px;
  border: solid 1px #2c2c2c !important;
  font-weight: inherit;
  text-align: center;
  text-transform: capitalize;
  margin-top: 13%;
  right: 7px;
}

.btn-2:hover {
  background-color: #2c2c2c !important;
  color: #fff !important;
  border: solid 1px #2c2c2c !important;
}

.title-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.title-container h1,
h2 {
  font-weight: bold;
  font-size: 36px;
}

#hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 99;
  /* Higher than anything else in the document */
}

.third-column h1 {
  font-size: 2.3vw !important;
  letter-spacing: 3px;
  margin-top: 5rem;
}

.third-column p {
  margin-top: 25rem;
  font-size: 1.2vw;
  color: #7e7e7e;
}

.third-column {
  max-width: 350px;
}

.footer-brand {
  font-size: 38px !important;
}

.row-c {
  margin-bottom: 75px;
}

.news h4 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.news h3 {
  font-weight: 600;
  font-size: 24px;
}

.news p {
  margin-top: 50px;
}

.header {
  color: #00a7a7;
}

.header-1 {
  color: #ff4141;
}

.name {
  color: #727272 !important;
}

.author h2 {
  font-size: 16px;
  color: #00a884;
  font-weight: 0;
}

.author img {
  margin-top: 10px;
  width: 60px;
  margin-bottom: 15px;
  height: 60px;
}

@media screen and (max-width: 576px) {
  .first-column {
    margin-top: 2rem;
  }
  .second-column {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 650px) {
  .row-c {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    /* For vertical placement of items */
  }
}

@media screen and (max-width: 767px) {
  .animated-icon1 {
    display: block;
  }
  .menu-desk {
    display: none !important;
  }
}

@media screen and (max-width: 853px) {
  .nav-item .btn {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .image-3 {
    display: block !important;
    width: 100% !important;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
  }
  .fourth-column {
    position: relative;
    margin: 0 auto !important;
  }
  .wrapper-2 {
    /* 50% right white */
    background-image: none;
    /* 50% left white */
  }
  .third-column {
    max-width: 1750px;
    text-align: justify;
  }
  .third-column p {
    margin-top: 0rem;
    font-size: 16px;
    color: #7e7e7e;
  }
  .third-column h1 {
    font-size: 24px !important;
    letter-spacing: 3px;
  }
  .third-column h4 {
    margin-bottom: 100px;
    font-size: 18px;
    color: #919191;
  }
  .image-2 {
    top: 62%;
    width: 50%;
    height: 80%;
    left: 40%;
    position: inherit;
    margin-top: -10%;
  }
  .btn-2 {
    padding: 7vw 33vw !important;
    font-size: 4vw;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .col-sm {
    margin-top: 3.3rem;
  }
  .row-b {
    height: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    /* For vertical placement of items */
  }
  .col-sm h1 {
    font-size: 10vw;
  }
  .wrapper-2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .second-column {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
  .first-column {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapper {
    position: relative;
    left: 0;
    bottom: 0;
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1300px) {
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 2400px) {
  .image-2 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */